<div class="container-fluid">
    <div class="container p-5">
        <h1 class="text-center" style="font-size: 25px;">
            How to use 6 letter word finder to score high in scrabble/words with friends ?
        </h1>
    </div>

    <div class="container mb-5"
        style="background: white; width: 800px; border: 1px solid rgba(0,0,0,0.11); padding: 20px;">
        <ul class="toc_list">
            <h4>Table of contents</h4>
            <li class="tabledata mt-4" style="list-style: none">
                <ul>
                    <li class="tabledata">
                        <a class="sameStyle" href="#experience">
                            experience
                        </a>
                    </li>
                    <li class="tabledata">
                        <a class="sameStyle" href="#python">
                            python
                        </a>
                    </li>
                    <li class="tabledata">
                        <a class="sameStyle" href="#payments">
                            payments
                        </a>
                    </li>
                    <li class="tabledata">
                        <a class="sameStyle" href="#design">
                            design
                        </a>
                    </li>
                    <li class="tabledata">
                        <a class="sameStyle" href="#elegant">
                            elegant
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    <div id="experience" class="container" style="padding-left: 8rem; border:1px solid">
        <p style="font-size: 25px;" class="w-75">
            Using our 6 letter word finder you can create high scoring 6 letter words in
            scrabble/word with friends as follows.
        </p>
        <b>Experience</b>
        <br>
        <span>
            expire ,peerie ,piecer ,pierce ,pincer ,prince ,recipe ,repine
        </span>
        <p class="p-3">
            If you get letters E X P E R I E N C E, you can use our 6 letter word finder to create word EXPIRE, which
            has 15 points in scrabble. One can also create REPINE with these letters which would have fetched 8 points,
            but would have been a wrong choice, as it would have led to a lower score.
            Similarly you can use our 6 letter word finder to create word EXPIRE which has 16 points in words with
            friends and word REPINE which has 10 points
        </p>

        <strong>
            Summary
        </strong>
        <table class="table table-bordered">
            <tr>
                <th>
                    letter
                </th>
                <th>
                    Highest score in scrabble
                </th>
                <th>
                    Highest score in words with friends.
                </th>
            </tr>
            <tr>
                <td>
                    Experience
                </td>
                <td>Expire -15</td>
                <td>Expire -16</td>
            </tr>
        </table>
    </div>

    <div id="python" class="container mt-5" style="padding-left: 8rem; padding-top: 5rem; border:1px solid">
        <p style="font-size: 25px;" class="w-75">
            Using our 6 letter word finder you can create high scoring 6 letter words in
            scrabble/word with friends as follows.
        </p>
        <b>Python</b>
        <br>
        <span>
            python ,python ,typhon
        </span>
        <p class="p-3">
            If you get letters Python, you can use our 6 letter word finder to create word python, which
            has 14 points in scrabble. One can also create typhon with these letters which would have fetched 14 points,
            but would have been a wrong choice, as it would have led to a lower score.
            Similarly you can use our 6 letter word finder to create word python which has 15 points in words with
            friends and word typhon which has 14 points
        </p>

        <strong>
            Summary
        </strong>
        <table class="table table-bordered">
            <tr>
                <th>
                    letter
                </th>
                <th>
                    Highest score in scrabble
                </th>
                <th>
                    Highest score in words with friends.
                </th>
            </tr>
            <tr>
                <td>
                    Python
                </td>
                <td>python -14</td>
                <td>typhon -14</td>
            </tr>
        </table>
    </div>

</div>